---
layout: default
---
<a class="btn" href= "javascript:history.back()" >
    <i class="fa fa-angle-left"></i> Back
</a>
{% if page.image.feature %}
<div class="post-image-feature">
  <img class="feature-image" src=
  {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
  "{{ page.image.feature }}"
  {% else %}
  "/img/{{ page.image.feature }}"
  {% endif %}
  alt="{{ page.title | escape }} feature image">

  {% if page.image.credit %}
  <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
</div><!-- /.image-wrap -->
{% endif %}


<div id="post">
  <header class="post-header">
    <h1 title="{{ page.title | escape }}">{{ page.title }}</h1>
    <span class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%-d %b %Y" | upcase }}
      </span>
      •
      {% include read_time.html %}
    </span>

  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>

<div class="top-btn">
    <a class="btn"><i class="fa fa-angle-up"></i> Top</a>
</div>

<div class="prev-next">
  {% if page.previous.url %}
    <a class="prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
  {% endif %}
</div>

<div class="share-buttons">
  <h6>Share on: </h6>
  <ul>
    <li>
      <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="/js/jquery.qrcode.min.js"></script>
      <script type="text/javascript" src="/js/qrcode.js"></script>
      <div class="qrcode" id="post-qrcode"></div>
      <p id="weixin-btn" class="weixin btn" title="Share on Weixin"><i class="fa fa-weixin"></i><span> 微信</span></p>
      <script type="text/javascript">
        var $jq = jQuery.noConflict();
        $jq('#post-qrcode').hide();
        $jq('#post-qrcode').qrcode({width: 100, height: 100, foreground: '#4f4f4f', left: -10, text:"{{ site.url}}{{ page.url }}"});
        $jq('#weixin-btn').mouseover(function showQRCode() {
          $jq('#post-qrcode').show();
        });
        $jq('#weixin-btn').mouseout(function hiddenQRCode() {
          $jq('#post-qrcode').hide();
        });
      </script>
    </li>
    <li>
      <a href="http://service.weibo.com/share/share.php?url={{ site.url}}{{ page.url }}&text={{ page.title }}" class="weibo btn" title="Share on Weibo"><i class="fa fa-weibo"></i><span> 微博</span></a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="twitter btn" title="Share on Twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook btn" title="Share on Facebook"><i class="fa fa-facebook"></i><span> Facebook</span></a>
    </li>
  </ul>
</div><!-- end share-buttons -->

{% if site.owner.disqus-shortname and page.comments == true %}
<div id="disqus_thread"></div>
{% include disqus.html %}
{% endif %}
